name: qa-cart-cypress-todo-project

on:
 push:
  branches:["main"]


  jobs:
      test:
         runs-on: macos-latest
         steps:
            -uses: actions/checkout@4
            -uses: cypress-io/github-action@v6
